<div class="landing-page">
    <div class="content-box">
        
      <img src="assets/nuvou.png" alt="Nuvou Logo" class="logo" />

      <p class="tagline">Your story, your space.</p>

      <p class="description">
        A journaling and creative portfolio space for artists and makers. Reflect, share, and express.
      </p>

      <div class="buttons">
        <button class="primary-btn" (click)="navigateToLogin()">Login</button>
         <button class="outline-btn" (click)="navigateToSignup()">Sign up</button>
       </div>

    </div>
  </div>
  